/* reset */
body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select{
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    font-weight: normal;
    font-family: "Microsoft Yahei";
    box-sizing: border-box;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    outline: none;
    resize: none;
}

/* common */
html, body{
    width: 100%;
}
input, textarea{
    border: 1px solid #ccc;
    padding-left: 12px;
    font-size: 14px;
}
input:focus, textarea:focus{
    box-shadow: 0 0 5px rgb(131, 206, 224);
    border-color: rgb(131, 206, 224);
}

.clearfix:after{
    display: block;
    clear: both;
    content: "";
    height: 0;
}

/* 顶部导航栏 */
.nav{
    position: fixed;
    padding: 0 85px;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background: #443b32;
    overflow: hidden;
    z-index: 2;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}
.nav img{
    width: 168px;
    vertical-align: middle;
}
.nav-ul{
    float: right;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    font-size: 16px;
}
.nav-li{
    display: inline-block;
    box-sizing: border-box;
    height: 60px;
    margin-left: 50px;
    border-bottom: 3px solid transparent;
    color: #fff;
    transition: color .3s, border-color .3s;  
}
.nav a:first-child .nav-li{
    margin-left: 0;
}
@media screen and (max-width: 1200px) {
    .nav{
        padding: 0 50px;
    }
    .nav-li{
        margin-left: 30px;
    }
}
@media screen and (max-width: 1000px) {
    .nav{
        padding: 0 25px;
    }
    .nav-li{
        margin-left: 15px;
    }
}
.nav-li:hover{
    color: red;
}
.nav-ul .active{
    color: red;
    border-color: red;
}


/* 宽度1200px居中 */
.wrapper{
    width: 1200px;
    margin: 0 auto;
}


/* 底部版权信息 */
.footer{
    line-height: 80px;
    height: 80px;
    width: 100%;
    min-width: 1200px;
    background: #433a32;
    text-align: center;
    font-size: 0;
}
.footer span, .footer a{
    color: #fff;
    font-size: 14px;
    transition: color .3s;
}
.footer a:hover{
    color: red;
}
.footer .company{
    margin: 0 10px;
}
